extends layout

block content
  h1= title
  p Welcome to #{title}
  h1= message

  p Create a form to create new tournaments

  p Create a way to update and delete tournaments in the list below

  .tournaments
    ul
    each t in tournaments
      li= t.title

  p Create mock up for tournament list

  ul
    li
      label.tourlabel Tournament 1
      input.tourinput(type='text')
      button edit
      button delete
